.thumb {
	width:90%;
	
}

.thumb:hover {
	opacity: 0.8;
}

.vid {
	display:inline-flex;
	max-width: 241px;

}

.vid a {
		 
	z-index: 10;
}

body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size:10pt;
}