.thumb {
    width:220px;
}

.thumb:hover {
    opacity: 0.8;
}

.vid {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: auto;
    vertical-align: top;
    padding:5px;
    width:240px;

}

.vid a {

    z-index: 10;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:10pt;
}